*.vsix
.vscode
*.suo
*.dbmdl
*.user
extensions/node_modules/*
extensions/node_modules/core-js/*
*.dll
!VstsTaskSdk.dll
!Minimatch.dll
*.pdb
*.cache
*.jfm
*.vs
examples/CubeToPublish/MyTabularProject/bin/*
examples/CubeToPublish/MyTabularProject/obj/*
examples/CubeToPublish/MyTabularProject/Model.bim.layout
examples/DatabaseToPublish/obj/*
examples/DatabaseToPublish/bin/*

