*.vsix
.vscode
*.suo
*.dbmdl
*.user
extensions/node_modules/*
extensions/node_modules/core-js/*
*.dll
!VstsTaskSdk.dll
!Minimatch.dll
*.pdb
*.cache
*.jfm
*.vs
*.settings
*.layout
examples/ForTests/ExampleXMLA
examples/DatabaseToPublish/obj/*
examples/DatabaseToPublish/bin/*
examples/CubeAtCompatibility1200/bin/*
examples/CubeAtCompatibility1200/obj/*
examples/CubeAtCompatibility1500/bin/*
examples/CubeAtCompatibility1500/obj/*

